/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
  margin-top: 2%;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
input{
  border-radius: 10px;
  padding: 5px;
}
input:hover{
  background-color: brown;
}
input:valid{
  border: 2px solid green;
}
input:invalid{
  border: 2px solid red;
}
input:required{
  border: 2px solid pink;
}
.center{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.data{
  width: 344px;
  border: 2px solid aqua;
}
.font{
  text-align: center;
  background-color: bisque;
}
label{
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
}
.block{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
button{
  background-color: darkcyan;
  width: 316px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
}
